Repository Akshayasureshgandhi/Voting-App: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-result.yml, azure-pipelines-vote.yml, azure-pipelines-worker.yml

Path conditions:
  azure-pipelines-result.yml: any of: result
  azure-pipelines-vote.yml: any of: vote
  azure-pipelines-worker.yml: any of: worker

Update call-docker-build-result.yaml
  .github/workflows/call-docker-build-result.yaml
Due: none

Update package.json
  result/package.json
Due: azure-pipelines-result.yml

Update call-docker-build-vote.yaml
  .github/workflows/call-docker-build-vote.yaml
Due: none

Update call-docker-build-worker.yaml
  .github/workflows/call-docker-build-worker.yaml
Due: none

Delete .github/workflows/call-docker-build-vote.yaml
  .github/workflows/call-docker-build-vote.yaml
Due: none

Create call-docker-build-vote.yaml
  .github/workflows/call-docker-build-vote.yaml
Due: none

Create test_app.py
  vote/test_app.py
Due: azure-pipelines-vote.yml

Update requirements.txt
  vote/requirements.txt
Due: azure-pipelines-vote.yml

Update README.md
  README.md
Due: none

Update README for Voting App description
  README.md
Due: none
